Crypto Smart Money Alert System.json
{
  "name": "Crypto Smart Money Alert System",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 50,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "816fb60e-1e68-409c-9ce3-fbafcc0b40a9",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1776,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "\nreturn [\n\n  // Ethereum\n  {\n    json: {\n      token: \"ETH\",\n      chain: \"ethereum\",\n      token_address:\n        \"0xC02aaA39b223FE8D0A0E5C4F27ead9083C756Cc2\"\n    }\n  },\n\n  {\n    json: {\n      token: \"LINK\",\n      chain: \"ethereum\",\n      token_address:\n        \"0x514910771AF9Ca656af840dff83E8264EcF986CA\"\n    }\n  },\n\n  {\n    json: {\n      token: \"UNI\",\n      chain: \"ethereum\",\n      token_address:\n        \"0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984\"\n    }\n  },\n\n  {\n    json: {\n      token: \"AAVE\",\n      chain: \"ethereum\",\n      token_address:\n        \"0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DdAe9\"\n    }\n  },\n\n  // Arbitrum\n  {\n    json: {\n      token: \"ARB\",\n      chain: \"arbitrum\",\n      token_address:\n        \"0x912CE59144191C1204E64559FE8253a0e49E6548\"\n    }\n  },\n\n  {\n    json: {\n      token: \"GMX\",\n      chain: \"arbitrum\",\n      token_address:\n        \"0xfc5A1A6EB076aD7fD2dEcA7bf1C6fD0B7A1dB0eD\"\n    }\n  },\n\n  // BSC\n  {\n    json: {\n      token: \"BNB\",\n      chain: \"bsc\",\n      token_address:\n        \"0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c\"\n    }\n  },\n\n  {\n    json: {\n      token: \"CAKE\",\n      chain: \"bsc\",\n      token_address:\n        \"0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82\"\n    }\n  },\n\n  // Solana\n  {\n    json: {\n      token: \"SOL\",\n      chain: \"solana\",\n      token_address:\n        \"So11111111111111111111111111111111111111112\"\n    }\n  },\n\n  {\n    json: {\n      token: \"JUP\",\n      chain: \"solana\",\n      token_address:\n        \"JUPyiwrYJFskUPiHa7hkeR8VUtAeFoSYbKedZNsDvCN\"\n    }\n  },\n\n  // Avalanche\n  {\n    json: {\n      token: \"AVAX\",\n      chain: \"avalanche\",\n      token_address:\n        \"0xB31f66AA3C1e785363F0875A1B74E27b85FD66c7\"\n    }\n  },\n\n  {\n    json: {\n      token: \"JOE\",\n      chain: \"avalanche\",\n      token_address:\n        \"0x6e84A6216eA6dACC71eE8E6b0a5B7322EEbC0fDd\"\n    }\n  },\n\n  // Polygon\n  {\n    json: {\n      token: \"MATIC\",\n      chain: \"polygon\",\n      token_address:\n        \"0x0000000000000000000000000000000000001010\"\n    }\n  },\n\n  {\n    json: {\n      token: \"QUICK\",\n      chain: \"polygon\",\n      token_address:\n        \"0x831753DD7087CaC61aB5644b308642cc1c33Dc13\"\n    }\n  }\n\n];\n\n"
      },
      "id": "ccc246a5-b51a-488c-a2ba-cbe4adbea992",
      "name": "Generate Tokens",
      "type": "n8n-nodes-base.code",
      "position": [
        -1568,
        -80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://api.dexscreener.com/latest/dex/tokens/{{$json.token_address}}",
        "options": {}
      },
      "id": "26e11b05-c939-4c3a-99f5-cf0ff46a9240",
      "name": "Fetch Dex Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1264,
        -112
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map(item => {\n\n  const pair =\n    item.json.pairs?.[0];\n\n  // ❌ Invalid pair\n  if (!pair) {\n    return { json: {} };\n  }\n\n  // 📊 Market metrics\n  const volume =\n    pair.volume?.h24 || 0;\n\n  const liquidity =\n    pair.liquidity?.usd || 1;\n\n  const buys =\n    pair.txns?.h24?.buys || 0;\n\n  const sells =\n    pair.txns?.h24?.sells || 0;\n\n  const ratio =\n    volume / liquidity;\n\n  // ❌ Ignore weak activity\n  if (volume < 5000) {\n    return { json: {} };\n  }\n\n  // ❌ Ignore dead participation\n  if (ratio < 0.1) {\n    return { json: {} };\n  }\n\n  // ❌ Ignore suspicious wash activity\n  if (ratio > 20) {\n    return { json: {} };\n  }\n\n  // 📊 Confidence scoring\n  let score = 0;\n\n  if (volume > 100000)\n    score += 2;\n\n  if (liquidity > 80000)\n    score += 2;\n\n  if (buys > sells)\n    score += 2;\n\n  if (ratio > 0.8 && ratio < 8)\n    score += 2;\n\n  let confidence =\n    \"Low\";\n\n  if (score >= 7) {\n\n    confidence =\n      \"High\";\n  }\n\n  else if (score >= 5) {\n\n    confidence =\n      \"Moderate\";\n  }\n\n  // 🧠 Flow Classification\n  let flow_type =\n    \"Neutral Flow\";\n\n  // 📈 Accumulation\n  if (\n    buys > sells * 1.2\n  ) {\n\n    flow_type =\n      \"Accumulation Activity\";\n  }\n\n  // 📉 Distribution\n  else if (\n    sells > buys * 1.2\n  ) {\n\n    flow_type =\n      \"Distribution Activity\";\n  }\n\n  // ✅ Final output\n  return {\n\n    json: {\n\n      token:\n        pair.baseToken?.symbol,\n\n      chain:\n        pair.chainId,\n\n      volume,\n\n      liquidity,\n\n      buys,\n\n      sells,\n\n      ratio:\n        ratio.toFixed(2),\n\n      confidence,\n\n      flow_type,\n\n      score\n    }\n  };\n\n}).filter(\n  i =>\n    i.json.token &&\n    i.json.volume > 5000\n);\n\n"
      },
      "id": "690cbde5-5b58-488f-b7c4-9e0e5b3fc228",
      "name": "Smart Money Detector",
      "type": "n8n-nodes-base.code",
      "position": [
        -976,
        -80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nSELECT telegram_id\nFROM subscribers\nWHERE telegram_id IS NOT NULL;\n\n",
        "options": {}
      },
      "id": "222152c9-1707-481b-aa8a-dd632be5ecbc",
      "name": "Get Elite Users",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -480,
        -96
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "jsCode": "\nconst users =\n  items.map(i => i.json);\n\nconst signal =\n  $('Smart Money Detector')\n    .first()\n    .json;\n\nreturn users.map(user => {\n\n  return {\n\n    json: {\n\n      ...signal,\n\n      telegram_id:\n        user.telegram_id\n    }\n  };\n\n});\n"
      },
      "id": "c545bc3b-289f-497d-8fff-dd4d65c34215",
      "name": "Attach Users",
      "type": "n8n-nodes-base.code",
      "position": [
        -288,
        -128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map(item => {\n\n  const d = item.json;\n\n  // 🧠 Dynamic context\n  let context =\n    \"Transactional activity remains balanced relative to current liquidity conditions.\";\n\n  if (\n    d.flow_type ===\n    \"Accumulation Activity\"\n  ) {\n\n    context =\n      \"Participation activity currently reflects constructive accumulation behavior.\";\n  }\n\n  else if (\n    d.flow_type ===\n    \"Distribution Activity\"\n  ) {\n\n    context =\n      \"Defensive transactional activity is becoming increasingly observable.\";\n  }\n\n  // 📨 Final message\n  const message =\n`Market Flow Analyzer\n\n${d.token} — ${d.chain}\n\nFlow Classification\n${d.flow_type}\n\nParticipation Bias\n${d.confidence}\n\nFlow Metrics\n• Volume Activity: ${Math.round(d.volume).toLocaleString()}\n• Liquidity Base: ${Math.round(d.liquidity).toLocaleString()}\n• Participation Ratio: ${d.ratio}\n\nMarket Context\n${context}\n\nSystem Note\nThis report is generated through automated liquidity-flow analysis for informational and analytical purposes only.`;\n\n  return {\n\n    json: {\n\n      ...d,\n\n      message\n    }\n  };\n\n});\n\n"
      },
      "id": "65463bc2-5130-4fca-9b48-03e08f91bea8",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "position": [
        -64,
        -128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{$json.telegram_id}}",
        "text": "={{$json.message}}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true
        }
      },
      "id": "5adfb3c0-4cc8-4d26-b7c8-8c424a4ed453",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        128,
        -144
      ],
      "typeVersion": 1.2
      
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8de19418-2f8b-4c2e-9766-0cbc35f6aa0c",
              "leftValue": "={{$json.confidence}}",
              "rightValue": "Moderate",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "757e016b-1b34-46b6-b113-7684b233e3a3",
              "leftValue": "={{$json.confidence}}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -736,
        -80
      ],
      "id": "b9d95c45-a319-4c6d-a263-6001b1a6e2d1",
      "name": "Filter Strong"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Generate Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tokens": {
      "main": [
        [
          {
            "node": "Fetch Dex Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dex Data": {
      "main": [
        [
          {
            "node": "Smart Money Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Money Detector": {
      "main": [
        [
          {
            "node": "Filter Strong",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Elite Users": {
      "main": [
        [
          {
            "node": "Attach Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Users": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Strong": {
      "main": [
        [
          {
            "node": "Get Elite Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "893ab477-b595-494f-90ef-131b5fd5a757",
  "meta": {
    "instanceId": "aca4bd01fa2650ae92c7b1f42e99e815457d7038f48cfccd35f40f61485c4094"
  },
  "nodeGroups": [],
  "id": "gIPVsyNgryVNdTR3",
  "tags": []
}